.perfecto,
.perfecto input,
.perfecto textarea,
.perfecto select,
.perfecto button {
  font-family: Verdana, Arial, serif !important;
  font-size: 11px !important;
  line-height: 20px !important;
  text-align: left !important;
}

/* Bootstrap theme support and any other theme that changes default box-sizing. */
#perfecto-imagecompositioncontrols-wrap,
#perfecto-imagecompositioncontrols-wrap * {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -ms-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.perfecto input,
.perfecto textarea,
.perfecto select,
.perfecto button {
  padding: 0;
}

.perfecto select {
  max-width: 130px;
}

.perfecto a {
  color: #0066cc !important;
  text-decoration: none !important;
}

.perfecto a:hover {
  text-decoration: underline !important;
}

#perfecto-pagelist,
#perfecto-actionlist,
#perfecto-imagecompositioncontrols {
  -khtml-border-radius: 0 0 5px;
  -moz-border-radius: 0 0 5px;
  -moz-box-shadow: 5px 5px 100px rgba(0, 0, 0, 1);
  -moz-opacity: 0.95;
  -o-box-shadow: 5px 5px 100px rgba(0, 0, 0, 1);
  -webkit-border-radius: 0 0 5px;
  -webkit-box-shadow: 5px 5px 100px rgba(0, 0, 0, 1);
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-radius: 0 0 5px 0;
  border-right: 1px solid #808080;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 1);
  filter: alpha(opacity=95);
  left: -2000px;
  opacity: 0.95;
  position: fixed;
  top: -210px;
}

#perfecto-pagelist table,
#perfecto-actionlist table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}

#perfecto-pagelist td,
#perfecto-actionlist td {
  margin: 0;
  padding: 0;
}

#perfecto-pagelist-inner,
#perfecto-actionlist-inner {
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  padding: 210px 20px 15px 207px;
}

#perfecto-actionlist {
  -khtml-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
  bottom: -210px;
  top: auto;
}

#perfecto-actionlist-inner {
  padding-bottom: 210px;
  padding-top: 15px;
}

.perfecto-templatelist a {
  color: #ffffff;
  line-height: 20px;
  text-align: left;
  text-decoration: none !important;
}

.perfecto-templatelist a:hover {
  text-decoration: underline !important;
}

.perfecto-templatelist-active {
  color: #ff0000 !important;
  font-weight: bold !important;
}

/*
* Image composition
 */
#perfecto-imagecompositioncontrols-wrap {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

#perfecto-imagecompositioncontrols-mousehook {
  background: url(../images/trans.gif);
  height: 5px;
  position: absolute;
  right: 0;
  top: 0;
  width: 170px;
}

#perfecto-imagecompositioncontrols {
  -khtml-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  left: auto;
  right: -200px;
}

#perfecto-imagecompositioncontrols-inner {
  -moz-opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  opacity: 1 !important;
  padding: 220px 220px 10px 20px;
  width: 130px;
}

.perfecto-imagecompositioncontrols-row {
  padding: 5px 0 !important;
}

.perfecto-imagecompositioncontrols-caption {
  font-weight: bold !important;
}

.perfecto-imagecompositioncontrols-mover {
  overflow: hidden !important;
}

.perfecto-imagecompositioncontrols-mover-input {
  background: #f9f9f9 !important;
  border: 1px solid #cccccc !important;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
  float: left !important;
  height: 14px !important;
  line-height: 14px !important;
  margin: 0 3px !important;
  padding: 2px !important;
  width: 86px !important;
}

#perfecto-imagecompositioncontrols .perfecto-imagecompositioncontrols-mover-input {
  text-align: center !important;
}

.perfecto-imagecompositioncontrols-mover-decrease,
.perfecto-imagecompositioncontrols-mover-increase {
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  float: left !important;
  height: 20px !important;
  width: 16px !important;
}

.perfecto-imagecompositioncontrols-xmover .perfecto-imagecompositioncontrols-mover-decrease {
  background-image: url('../images/arrow-left.png') !important;
}

.perfecto-imagecompositioncontrols-xmover .perfecto-imagecompositioncontrols-mover-increase {
  background-image: url('../images/arrow-right.png') !important;
}

.perfecto-imagecompositioncontrols-ymover .perfecto-imagecompositioncontrols-mover-decrease {
  background-image: url('../images/arrow-down.png') !important;
}

.perfecto-imagecompositioncontrols-ymover .perfecto-imagecompositioncontrols-mover-increase {
  background-image: url('../images/arrow-up.png') !important;
}

.perfecto-imagecompositioncontrols-img {
  max-width: none;
  position: absolute;
  z-index: -99999;
}

/*
* jQuery UI Slider 1.8.13
 */
#perfecto-imagecompositioncontrols-opacity-slider {
  background: #ffffff url(../images/ui-bg_flat_75_ffffff_40x100.png) repeat-x 50% 50%;
  border: 1px solid #aaaaaa;
  border-radius: 4px 4px 4px 4px;
  color: #222222;
  font-family: Verdana, Arial, sans-serif;
  height: 0.8em;
  position: relative;
  text-align: left;
}

#perfecto-imagecompositioncontrols-opacity-slider .ui-slider-handle {
  background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x 50% 50%;
  border: 1px solid #d3d3d3;
  border-radius: 4px 4px 4px 4px;
  color: #555555;
  cursor: default;
  font-weight: normal;
  height: 1.2em;
  margin-left: -0.6em;
  position: absolute;
  top: -0.3em;
  width: 1.2em;
  z-index: 2;
}

#perfecto-imagecompositioncontrols-opacity-slider .ui-state-hover,
#perfecto-imagecompositioncontrols-opacity-slider .ui-state-focus {
  background: #dadada url(../images/ui-bg_glass_75_dadada_1x400.png) repeat-x 50% 50%;
  border: 1px solid #999999;
  color: #212121;
  font-weight: normal;
}

/*
* Z-indexes
 */
#perfecto-pagelist,
#perfecto-actionlist,
#perfecto-imagecompositioncontrols {
  z-index: 99997;
}

#perfecto-imagecompositioncontrols-mousehook {
  z-index: 99998;
}

#perfecto-draggable-handle {
  background: url(../images/trans.gif);
  cursor: move;
  display: block;
  display: none;
  height: 50px;
  position: absolute;
  width: 50px;
  z-index: 99999;
}

/*
* Buttons
 */
.perfecto-imagecompositioncontrols-row-buttons {
  overflow: hidden;
  padding: 5px 0;
}

.perfecto-imagecompositioncontrols-row-buttons .perfecto-imagecompositioncontrols-row-button {
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  background: #2daebf !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
  color: #ffffff !important;
  cursor: pointer !important;
  float: left !important;
  font-weight: bold;
  line-height: 1 !important;
  margin-right: 5px !important;
  margin-top: 5px;
  padding: 5px 10px 6px !important;
  position: relative !important;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) !important;
}

.perfecto-imagecompositioncontrols-row-buttons .perfecto-imagecompositioncontrols-row-button:hover {
  background-color: #007d9a !important;
  text-decoration: none !important;
}
